* {
	margin: 0;
	padding: 0;
}

* :focus { 
	outline: 0;
}

body {
	background: #44493E;
	color: #fff;
	font-family: monospace;
	font-size: 12px;
}

h1 {
	font-size: 40px;
	font-family: 'Swanky and Moo Moo', cursive;
}

.wrapper {
	width:960px;
	margin:0px auto;
	padding-top:15px;
}

#game-world {
	width:960px;
	height:320px;
	border:1px solid #000;
}

.note {
	text-align: right;
	color: #777;
}
